:root {
    --button-color: #A8A8A8;
    --calculator-background-color: #97C27C;
    --display-color: #C0AE98;
    --page-color: #9B84A3;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
    font-family: "Nova Flat";
}

#container {
    display: flex;
    justify-content: flex-start;
}

#textContainer {
    display: flex;
    margin: 0.4rem 2rem;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 5rem;
    font-family: "Nova Flat";
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: var(--calculator-background-color);
    width: 30rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    border-radius: 0.6rem;
    border: 2px solid rgb(0, 0, 0);
    margin: 0.4rem 0;
}

#display {
    display: flex;
    flex-direction: column;
}

#topDisplay {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    flex: 1 1 auto;
    width: 26rem;
    height: auto;
    min-height: 4rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
    word-break: break-all;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-size: 2rem;
    background-color: var(--display-color);
}

#botDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
    flex: 1 1 auto;
    width: 26rem;
    height: auto;
    min-height: 10rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
    word-break: break-all;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-size: 4.6rem;
    background-color: var(--display-color);
    overflow: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border-radius: 0.8rem;
    font-size: 1.6rem;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.12s ease;
    cursor: cell;
    font-family: "Nova Flat";
    user-select: none;
}

.button:hover {
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
    box-shadow: 0 4px 2px rgb(0, 0, 0);
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.95);
}

#delClearRow {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.8rem;
}

#clearBtn, #delBtn {
    width: 12rem;
    height: 4rem;
}

#buttonPad {
    display: flex;
    align-self: center;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

#leftPad {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 1 auto;
    margin-right: 1.6rem;
    row-gap: 1rem;
}

.leftPadRow {
    column-gap: 8px;
}

.leftPadBtn {
    width: 6.4rem;
    height: 4rem;
}

#rightPad {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 1 auto;
    row-gap: 1rem;
}

.rightPadBtn {
    width: 4rem;
    height: 4rem;
}

#padFirstRow,
#padSecondRow,
#padThirdRow,
#padFourthRow {
    display: flex;
}

.activatedBtn {
    background-color: #7E7E7E;
}

#footer {
    align-self: center;
    font-size: 20px;
    margin: 26px 0;
}

.fa-github-square {
    color: #ececec;
    transition: transform 0.3s ease-in-out;
    font-size: 26px;
}

.fa-github-square:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
    color: #763ac4;
}